<div class="card card-body bg-light mb-2 mt-2">
  <div class="row">
    <div class="col-md-3">
      <strong>Vejledersnavn:</strong>
    </div>
    <div class="col-md-3">
      {{counselor?.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Vejlederspris:</strong>
    </div>
    <div class="col-md-3">
      {{counselor?.price}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Vejledersbeskrivelse:</strong>
    </div>
    <div class="col-md-3">
      {{counselor?.desc}}
    </div>
  </div>
</div>
