<div class="card">
  <div class="card-body">
    <h1 class="card-title">Ret Produkt</h1>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>
    <form [formGroup]="editProductForm" autocomplete="off" novalidate (ngSubmit)="editProduct(editProductForm.value)">
      <div class="mb-3 row">
        <label for="name" class="col-form-label col-sm-2">Produkt Navn:</label>
        <div class="col-md-5">
          <input type="text" [(ngModel)]=product.name id="name" formControlName="name" class="form-control"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="price" class="col-form-label col-sm-2">Pris:</label>
        <div class="col-md-5">
          <input type="text" [(ngModel)]=product.price id="price" formControlName="price" class="form-control" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="desc" class="col-form-label col-sm-2">Beskrivelse:</label>
        <div class="col-md-5">
          <input type="text" [(ngModel)]=product.desc id="desc" formControlName="desc" class="form-control" />
        </div>
      </div>
      <br>
      <div class="mb-3 row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-info">Registrer</button>
        </div>
      </div>
    </form>
  </div>
</div>